.nosotros__grid{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    gap:2rem;
    text-align: center;
    margin-right: 2rem;
    margin-left: 2rem;
}
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
  }
.nosotros__descripcion{
    grid-column: 1/3;
}

.nosotros__p, .nosotros__h2{
    text-align: left;
}
.nosotros__vision{

}
.nosotros__mision{

}
.nosotros__vision_contenido{

}
.nosotros__mision_contenido{

}

/* NAVBAR HISTORIAL */
.navegacion_historial{
    background-color: #EBEBEB;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.navegacion_historial__enlace{
    font-family: var(--fuentePrincipal);
    color: var(--primarioSecundario);
    font-size: 1.1rem;
    
}

.navegacion_historial__enlace_activo{
    font-weight: bold;
    font-family: var(--fuentePrincipal);
    color: var(--primarioSecundario);
    font-size: 1.1rem;
}

.p__navegación_historial{
    font-size: 1.2rem;
}

.no-margin{
    margin: 0;
}

.p__navegación_historial_no_margin{
    font-size: 1.2rem;
    margin: 0;
}