.nosotros__grid{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    gap:2rem;
    text-align: center;
    margin-right: 2rem;
    margin-left: 2rem;
}
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
  }
.nosotros__descripcion{
    grid-column: 1/3;
}

.nosotros__p, .nosotros__h2{
    text-align: left;
}
.nosotros__vision{

}
.nosotros__mision{

}
.nosotros__vision_contenido{

}
.nosotros__mision_contenido{

}
