.SupContainer{
    max-width: 120rem;
    margin: 0 auto;
}

.ArrowSliders{
    display: flex;
    margin-top: 2rem;
    justify-content: space-between;
}
.rombos
{
    display: flex;
    z-index: 1;
    justify-content: space-between;
    gap:2rem;
}
