.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}

.si_centrar{
    text-align: center;
}

.si_izquierda{
    text-align: left;
}

.post__h3{
    margin-top: 2rem;
    font-size: 1.2rem;
}

.post__grid{
    
    display: grid;
    grid-template-columns: repeat(1,1fr);
}

.titulo__post{
    text-align: left;
}

.post__p{
    line-height: 1.2;
}